.contact-container{
  min-height: 70vh;
  position: relative;
  width: 60vw;
  padding-left: 100px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  animation: 2s fadeIn;
}

form{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #F6AE2D;
  border: 2px solid #bd632f;
  border-radius: 10px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 28vw;
}

.form-text{
  color: white;
  width: 15vw;
  align-self: center;
  text-align: left;
  margin-right: 100px;
  align-self: flex-start;
  font-size: 40px;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

label{
  margin: 5px 10px 10px 20px;
}

.email {
  font-size: 18px;
}

input[type='submit'] {
  width: 5rem;
  align-self: center;
  margin: 10px auto;
  padding: 5px;
}

input {
  border: 1px solid black;
  padding: 10px; 
  margin-left: 15px;
  margin-top: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  width: 16rem;
}

textarea {
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
  resize: none;
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

input[type='submit']:hover {
  background-color: #bd632f;
} 

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .contact-container{
    flex-direction: column;
  }

  .form-text{
    width: 60vw;
    letter-spacing: 0.1px;
    text-align: center;
  }

  form{
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
  }
}