.landing-container{
  height: 100vh;
  width: 60vw;
  margin-left: 300px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-text {
  
  /* animation:5s ease-in-out slideIn; */
}

.tech-stack-icons{
  height: 20vh;
  width: 30vw;
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}

.tech-stack-icons img{
  height: 50px;
  margin: 0 auto;
}

@keyframes slideIn {
  from {
    transform: translateX(400%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}